<header class="header">
          <div class="header__inner appear up">
            <div class="logo item">
              <img src="assets/logo.svg" alt="" class="logo__img" />
              <span class="logo__stay">TECH</span>
              <span class="logo__world">FASHION</span>
            </div>
            <nav class="header__nav">
              <ul class="header__ul">
                <%= link_to "投稿", new_post_path, class: "header__li item" %>
                <li class="header__li item"><a href="#">投稿</a></li>
                <li class="header__li item"><a href="#">Help</a></li>
                <li class="header__li item"><a href="#">Cart</a></li>
                <li class="header__li item">
                  <a class="letter-spacing" href="#">My account</a>
                </li>
              </ul>
            </nav>
            <button class="mobile-menu__btn">
              <span></span>
              <span></span>
              <span></span>
            </button>
          </div>
        </header>
        