
.vertical_like{

  width: 110px;
  border-radius: 10px;
  padding: 1px;
  text-align: center;
  background-color:rgb(228, 222, 222);
  text-decoration: none;
  margin: 0 auto;
}

.red-text {
  font-size: 28px;
  color:rgb(110, 107, 101);

}

.text-darken-2 {
  font-size: 30px;
  color:gray;
}