
.hero__title{

  object-fit: cover;

}
.container-new{
  margin-top: 10%;
}

.container-show{
  margin-top: 10%;
}

.houses__inner{

margin-top: 100px;
}



a.header__li.item{
  text-decoration: none;
  color: palevioletred;
}
