.all{
  background-color: #f8f8f8;
  .h_head{
    border-top: 1px solid #eee;
    height: 50px;
    background-color: white;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
    line-height: 50px;
    ul{
      display: flex;
      width: 1020px;
      margin: 0 auto;
      li{
        padding-right: 10px;
      }
    }
    &--color{
      text-decoration: none;
      color: black;
    }
    &__icon{
      width: 10px;
    }
  }
}